@import url('https://fonts.googleapis.com/css2?family=Acme&family=Hind&family=Kotta+One&family=Nokora:wght@700&family=Noticia+Text&display=swap');

.navbar-login nav{
    width: 100%;
    height: 100px;
    background-color: #03001c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99999;
}

.navbar-login #logo{
    text-decoration: none;
    width: 120px;
    height: 70px;
    font-size: 70px;
    font-family: 'Acme', sans-serif;
    color: rgba(255,0,0,0.8500000238418579);
    position: relative;
    left: 200px;
    bottom: 5px;
}

.navbar-login ul{
    width: 550px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    position: relative;
    left: 40px;
}

.navbar-login ul li a{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,0.8500000238418579);
}

.navbar-login ul li a:hover{
    color: rgba(219, 214, 214, 0.50);
}

.navbar-login .nav-profile{
    width: 200px;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 100px;
}